<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			<h4 class="modal-title">About</h4>
		</div>
		<div class="modal-body">
			<p>
				The application provides a basic quiz flow, displaying one question at a time with the possibility to show the answer and go to next question.
			</p>
			<p>
				This is a simple Single-Page Application (<a href="http://en.wikipedia.org/wiki/Single-page_application">SPA</a>), based on <a href="http://backbonejs.org/">backbone</a>, <a href="http://yeoman.io/">yeoman</a> and many more (see <a href="http://github.com/tkoomzaaskz/quizapp">github repository</a> for more details).
			</p>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		</div>
	</div>
</div>
