<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			<h4 class="modal-title">Attributions</h4>
		</div>
		<div class="modal-body">
			<ul>
				<li>"<a href="http://www.flaticon.com/free-icon/bald-head-side-view-with-three-question-marks_32503">Bald head side view with three question marks</a>" by <a href="http://www.flaticon.com/authors/freepik">freepik</a> is licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a></li>
			</ul>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		</div>
	</div>
</div>
