<div>
    <small>question #<%= count %></small>
</div>
<div>
	<span class="question text-info"><%= question %></span>
	-
	<span class="answer" style ="display: none;"><%= answer %></span>
</div>

<button type="button" class="btn btn-lg btn-info action-show">show</button>
<button type="button" class="btn btn-lg btn-default action-next">next</button>
<button type="button" class="btn btn-lg btn-danger action-quit">quit</button>
