<div>
	<span class="question"><%= question %></span>
	-
	<span class="answer" style ="display: none;"><%= answer %></span>
</div>

<button type="button" class="btn btn-info action-show">show</button>
<button type="button" class="btn btn-default btn-sm action-next">Next question</button>
