<div class="header">
    <ul class="nav nav-pills pull-right">
        <li class="active"><a href="#">home</a></li>
        <li><a href="#about">about</a></li>
        <li><a href="#attributions">attributions</a></li>
        <li><a href="https://github.com/tkoomzaaskz/quizapp">github repo</a></li>
    </ul>
    <h3 class="text-muted">Quiz <img src="favicon.ico" /> App</h3>
</div>

<div class="jumbotron" id="quiz-container">
</div>

<div class="footer">
    <p>Copyright &copy; 2014 <a href="https://github.com/tkoomzaaskz">tkoomzaaskz</a></p>
</div>
